button, input[type="submit"] {
    background-color: #c47879;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #be7476 !important;
    border-color: #be7476 !important;
}


.dropdown {
    width: 300px;
    height: 30px;
    border-radius: 0.25rem;
    padding: 0.175rem 0.50rem;
}

.form-group {
    width: 600px;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.175rem 0.50rem;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .rose
{
    color: #be7476;
}

.rating {
    display: inline-block;
    vertical-align: middle;
}

.rating i {
    cursor: pointer;
    font-size: 24px;
    color: #ddd;
}

.rating .fa-star {
    color: #ccc; /* Default star color */
}

.rating .fa-star.fa-star-highlight {
    color: #ffcc00; /* Highlighted star color */
}

#rated {
    color: #ffcc00; /* Default star color */
}

#reviewDisplay {
    max-width: 850px; /* Adjust the value as needed */
    margin-left: auto;
    margin-right: auto;
  }


#reviewList {
    list-style: none;
    padding: 0;
  }

table {
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 50%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    text-align: left;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(245, 218, 223, 0.3)
}
