{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container">
  <img src="/static/pole.png" class="img-fluid" alt="Responsive image">
</div>

<div>
  <p>
    <b style="color: #be7476;">Prism Dance</b> is a premier pole arts studio. We are led by a team of certified and passionate instructors.
    <br>Our classes include tricks and choreography styles of various genres, and cater to all levels, from beginners to advanced.
  </p>
  <p>View our classes <a href="/classes">here!</a></p>
</div>

<br>
<br>

{% endblock %}

